/**
 * CC Chat by Laurin Obermaier and Felix Welker, 762582 and 762600
 */
      body { 
            font: 13px Helvetica, Arial;
            margin: 0;
            padding: 0; 
            width: 100%;
            height: 100%;
      }  

      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      #messages { margin-bottom: 50px }

      .sendButton { 
            width: 10%;
            background: rgb(130, 224, 255);
            border: none;
            padding: .5%;
            cursor: pointer;
            margin-right: .5%;
       }
       .sendImage { 
            width: 10%;
            background: rgb(0 , 100, 255);
            border: none;
            padding: .5%;
            cursor: pointer;
            margin-right: .5%;
       }

      #messageForm {
            background: black;
            padding: 3px;
            position: fixed;
            bottom: 0;
            width: 100%;
      }
      #imageForm {
            background: white;
            padding: 3px;
            position: fixed;
            bottom: 0;
            width: 10%;
      }

      #messageInput {
            border: 0;
            padding: .5%;
            width: 84%;
            margin-right: .5%;
      }

      .nav_trigger {
      cursor: pointer;
      font-size: 26px;
      width: 4%;
      margin-right: .5%;
      color: white;
      }

      #push_sidebar {
      background: #000000;
      border-left: 1px solid #ddd;
      bottom: 0;
      color: rgb(255, 255, 255);
      left: 100%;
      overflow: auto;
      position: fixed;
      top: 0;
      width: 25%;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
      }

      body.show_sidebar #push_sidebar { left: 75%; }

      #wrapper {
      margin-right: 0;
      min-height: 1000px;
      overflow: hidden;
      width: 100%;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
      }

      body.show_sidebar #wrapper {
      margin-right: 25%;
      width: 75%;
      }

      @media (max-width: 767px) {

      #push_sidebar { width: 90%; }

      body.show_sidebar #push_sidebar { left: 10%; }

      body.show_sidebar #wrapper {
      margin-right: 90%;
      width: 10%;
      }
      }

      @media (min-width: 992px) {

      #push_sidebar { width: 10%; }

      body.show_sidebar #push_sidebar { left: 90%; }

      body.show_sidebar #wrapper {
      margin-right: 10%;
      width: 90%;
      }
      }

      #user {
            display: block;
            margin-left: auto;
            margin-right: auto;
      }

      #users {
            margin-left: 10px;
      }

      #loginForm {
            border-radius:4px;
            color:#505e6c;
            box-shadow:1px 1px 5px rgba(0,0,0,0.1);
            background: white;
            max-width:640px;
            padding:20px;
            min-width: 320px;
            margin: 0 auto;
            width: 100px; 
      }

      #inputUsername {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
      }

      .loginButton {
            padding: 10px 24px;
            margin-bottom: 20px;
            width: 100%;
            border:none;
            border-radius:4px;
            background-color: rgb(130, 224, 255);
      }

      #divImage {          
            min-height: 1%;
            background: #FFFFFF;
      }

      #divLogin {

            width: 20%;
            margin: 0 auto;
            margin-top: 15vh; 
      }

      #divChat {
            display: none;
            min-height:2%; 
      }

      #file-upload[type="file"] {
            display: none;
      }
      
      .custom-file-upload {
            color: white;
            display: inline-block;
            cursor: pointer;
            margin-right: 10px;
      }